/* HomePage.module.css */
.homePage {
  background-color: #272727;
  color: #c3bbbb;
  min-height: 100vh;
}

.pic {
  height: 200px;
  width: 200px;
  transition: all 0.3s ease;
}

.imageContainer {
  width: 220px;
  height: 260px;
  margin: 15px;
  text-align: center;
}

.picDarkMode {
  border: 4px solid rgb(8, 8, 95);
}

.picLightMode {
  box-shadow: 0px 0px 5px black;
}

.pic:hover {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 10px black;
  transform: scale(1.05);
}

.imageName {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
}

.input {
  color: black;
  font-weight: 600;
  border: 2px solid rgb(6, 6, 178);
  text-align: center;
}

.input::placeholder {
  color: black;
  font-weight: 600;
}
@media (max-width: 450px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}