.termsHeight {
  min-height: 100vh;
}
.terms {
  background-color: #121212;
  color: white;
}

.termsSection {
  width: 100%;
  margin-top: 3rem;
  display: flex;

  justify-content: center;
  align-items: center;

  font-weight: 400;
}

.termsSectionContent {
  width: 80%;
  text-align: justify;

  border-radius: 10px;
}
.bgLight {
  background-color: rgb(241, 234, 234);
}
.bgDark {
  background-color: #272727;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.colorBlue {
  color: blue;
}

.question {
  font-weight: 500;
  margin-bottom: 5px;
}
.question:hover {
  cursor: pointer;
}

.whiteBottomBorder {
  border-bottom: 2px solid white;
}
.blackBottomBorder {
  border-bottom: 2px solid black;
}
.fontSize {
  font-size: 18px;
  font-weight: 500;
}
.icon {
  font-size: 2rem;
}
.span {
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 412px) {
  .termsSectionContent {
    padding: 1rem 2rem;
  }
  .fontSize {
    font-size: 12px;
  }
  .heading {
    font-size: 13px;
  }
  .icon {
    font-size: 1.2rem;
  }
}

@media (min-width: 412px) and(max-width: 564px) {
  .termsSectionContent {
    padding: 1rem 2rem;
  }
  .fontSize {
    font-size: 16px;
  }
  .heading {
    font-size: 13px;
  }
  .icon {
    font-size: 1.2rem;
  }
}
